In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('spam.csv',encoding = "ISO-8859-1")
df.shape

(5572, 5)

In [7]:
# 1. Data Cleaning
# 2. EDA - Exploratory Data Analysis
# 3. Text Preprocessing
# 4. Model Building
# 5. Model Evaluation
# 6. Improvements
# 7. Website
# 8. Deploy - > Heroku

In [8]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [10]:
# Drop last three columns
df.drop(columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace = True)

In [11]:
df.sample(5)

       v1                                                 v2
1533  ham                   Horrible bf... I now v hungry...
209   ham            Both :) i shoot big loads so get ready!
1023  ham                           May i call You later Pls
1492  ham  In the end she might still vomit but its okay....
1817  ham                  Well i will watch shrek in 3D!!B)

In [15]:
# Renaming the columns
df.rename(columns = {'v1':'target','v2':'text'},inplace = True)
df.sample(5)

     target                                               text
4140    ham  Beautiful truth : Expression of the face could...
711     ham  It just seems like weird timing that the night...
2184    ham  I know a few people I can hit up and fuck to t...
5350    ham      No one interested. May be some business plan.
3862   spam  Oh my god! I've found your number again! I'm s...

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [20]:
df['target'] = encoder.fit_transform(df['target'])

In [21]:
df.sample(5)

      target                                               text
1065       0                          No my mum went 2 dentist.
1971       0                        Enjoy ur life. . Good night
3547       0  Single line with a big meaning::::: \Miss anyt...
1704       0  What can i do? Might accidant tookplace betwee...
400        1  FREE RINGTONE text FIRST to 87131 for a poly o...

In [22]:
# check Missing values
df.isnull().sum()

target    0
text      0
dtype: int64

In [23]:
# check for duplicate values
df.duplicated().sum()

403

In [24]:
# Remove duplicates
df = df.drop_duplicates(keep = 'first')
df.duplicated().sum()

0